body {
	background-color: aliceblue;
	color: #444;
	font-family: "Poppins";
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	padding: 0;
}

.logo img {
	max-height: 50px;
	margin-bottom: 15px;
}

.container {
	padding: 30px;
}

.card {
	padding: 30px 20px;
}

.details {
	margin-bottom: 25px;
}

.details div {
	margin-bottom: 10px;
}

@media (min-width: 1200px) {
	.container {
		padding: 30px 280px;
	}
}