/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.red {
    color: red;
}

body {
  background: #fff;
  color: #444;
  font-family: "Poppins";
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #1bb1dc;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #1bb1dc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  padding: 0 0 10px 0;
  font-size: 14px;
  transition: all 0.5s;
}

#topbar .social-links {
  text-align: right;
}

#topbar .social-links a {
  color: #535074;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
}

#topbar .social-links a:hover {
  color: #1bb1dc;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #413e66;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0px 0;
  max-height: 45px;
}

#header .btn-join {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 3px 20px;
  padding: 8px 32px;
  border-radius: 4px;
  transition: all 0.25s ease-in;
  color: #fff;
  background: #44ce6f;
}

@media (max-width: 700px) {
  #header .btn-join {
    margin: 2px 39px;
    color: #44ce6f;
    background: transparent;
  }

  #header .btn-join:hover,
  #header .btn-join:focus {
    background-image: none;
    transition: none;
    color: #ff9029;
  }
}

@media (min-width: 900px) {
  #header .btn-join:hover,
  #header .btn-join:focus {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    animation: gradient 0.2s linear;
  }
}

@keyframes gradient {
  from {
    background-color: #44ce6f;
  }
  to {
    background-position:8vw;
  }
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
}

#intro .intro-info h2 {
  color: #413e66;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info h2 span {
  color: #1bb1dc;
}

#intro .intro-info h5 {
  margin-bottom: 5px;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: all 0.25s ease-in;
  color: #fff;
  background: #44ce6f;
}

#intro .intro-info .btn-get-started:hover,
#intro .btn-get-started:focus {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  animation: gradient 0.2s linear;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #413e66;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #44ce6f;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #44ce6f;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h2 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-light {
  background: aliceblue;
}

.section-dark {
  background: ghostwhite;
}

.section-colorful-wakiki {
  background: linear-gradient(120deg, #43e97b 0%, mediumspringgreen 100%);
  /* background: linear-gradient(180deg, #cac531, #f3f9a7); */
}

.section-colorful-yellow {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.section-dark h2,
.section-colorful-wakiki h2, .section-colorful-wakiki h3, .section-colorful-wakiki p,
.section-colorful-yellow h2, .section-colorful-yellow h4 {
  color: #444 !important;
}

/* About Us Section
--------------------------------*/

#about {
  padding: 80px 0;
}

#about .about-content {
  padding-top: 5px;
}

#about .about-content h2 {
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#about .about-content h3 {
  color: #696592;
  font-weight: 400;
  font-size: 22px;
}

#about .about-content ul {
  list-style: none;
  padding: 0;
}

#about .about-content ul li {
  padding-bottom: 10px;
}

#about .about-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #1bb1dc;
}

#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: .5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#about .about-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

#about .about-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

/* DSC APU Section
--------------------------------*/
#dsc {
  padding: 40px 0;
}

#dsc img {
  max-width: 100%;
  transition: 0.3s;
  padding: 15px 0;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 767px) {
  #dsc .dsc-content div {
    display: flex;
    place-content: center;
  }
}

#dsc .dsc-content h2 {
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#dsc .dsc-content h3 {
  color: #696592;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}

#dsc .btn-learn-more {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid rgb(53, 134, 215);
  transition: all 1s ease;
  color: rgb(53, 134, 215);
  overflow: hidden;
  position: relative;
  background: transparent;
}

#dsc .btn-learn-more span {
  top: calc(2em - 0.25px);
  position: absolute;
  content: '';
  width: 20em;
  height: 20em;
  margin-left: -10em;
  border-radius: 42.5%;
  transform-origin: 50% 50%;
  transition: all 1s ease, top 1.5s ease;
}

#dsc .btn-learn-more:hover {
  transition: all 1s ease;
}

#dsc .btn-learn-more:hover span {
  top: 0.5em;
  transition: all 1s ease, top 1.5s ease;
}

#dsc .wave1 {
  left: 50%;
  background: rgb(253, 72, 72);
  animation: smallwave 3s infinite linear;
}

#dsc .wave2 {
  left: 45%;
  background: rgb(255, 255, 98);
  animation: smallwave 4s infinite linear;
}

#dsc .wave3 {
  left: 55%;
  background: rgb(63, 180, 63);
  animation: smallwave 5s infinite linear;
}

@keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.5;
  }
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: #2d2b46;
  background-size: cover;
  padding: 40px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #1bb1dc;
  border: 3px solid #1bb1dc;
}

/* Gallery Section
--------------------------------*/

#gallery {
  padding: 60px 0;
}

#gallery #gallery-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#gallery #gallery-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 20px;
  color: #413e66;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border: 2px solid black;
  border-radius: 25px;
}

#gallery #gallery-flters li:hover,
#gallery #gallery-flters li.filter-active {
  color: yellow;
  background: black;
}

#gallery #gallery-flters li:last-child {
  margin-right: 0;
}

#gallery .gallery-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#gallery .gallery-item .gallery-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}

#gallery .gallery-item .gallery-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#gallery .gallery-item .gallery-wrap .gallery-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#gallery .gallery-item .gallery-wrap .gallery-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#gallery .gallery-item .gallery-wrap .gallery-info h4 a {
  color: #fff;
}

#gallery .gallery-item .gallery-wrap .gallery-info h4 a:hover {
  color: #1bb1dc;
}

#gallery .gallery-item .gallery-wrap .gallery-info p {
  padding: 0;
  margin: 0;
  color: #f8fcff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #1bb1dc;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview i,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview:hover,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details:hover {
  background: #42c3e8;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview:hover i,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details:hover i {
  color: #fff;
}

#gallery .gallery-item .gallery-wrap:hover {
  background: #282646;
}

#gallery .gallery-item .gallery-wrap:hover .gallery-info {
  opacity: 1;
}

/* Team Section
--------------------------------*/

#team {
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#team .member:hover .member-info {
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  height: 80px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #1bb1dc;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Partners Section
--------------------------------*/

#partners {
  padding: 60px 0;
}

#partners img {
  max-width: 100%;
  transition: 0.3s;
  padding: 15px 0;
  transition: transform 0.5s ease-in-out;
}

#partners img:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

#partners .owl-nav,
#partners .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#partners .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#partners .owl-dot.active {
  background-color: #1bb1dc;
}

/* Join Section
--------------------------------*/
#join {
  padding: 60px 0;
}
/*
#join .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#join .icon i {
  font-size: 36px;
  line-height: 1;
}s
*/
#join h3 {
  font-weight: 700;
  font-style: italic;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

#join .accordion-toggle:hover {
  cursor: pointer;
}

#join .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: FontAwesome;
  content: '\f078';
  float: right;
  color: grey;
}

#join .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

#join .card-header {
  padding: 25px;
  font-size: 17px;
  font-weight: 450;
}

#join .card-body {
  display: block;
  font-size: 14px;
  margin-bottom: 0;
  text-align: left;
  background-size: cover;
  background-position-x: center;
  height: auto;
}

#join .card-body img {
  max-width: 300px;
  padding: 15px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#join h4 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}

#join .register {
  display: flex;
  place-content: center;
  text-align: center;
}

#join .disclaimer {
  font-size: 5px;
  font-style: italic;
}

.btn-rainbow {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  margin-top: 10px;
  color: black;
  border: 2px solid;
  border-radius: 4px;
  justify-content: center;
}

.btn-rainbow:hover {
  color: black;
  background-image: linear-gradient(
     to right, 
     #E7484F,
     #E7484F 16.65%,
     #F68B1D 16.65%,
     #F68B1D 33.3%,
     #FCED00 33.3%,
     #FCED00 49.95%,
     #009E4F 49.95%,
     #009E4F 66.6%,
     #00AAC3 66.6%,
     #00AAC3 83.25%,
     #732982 83.25%,
     #732982 100%,
     #E7484F 100%
   );
 animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:18.5vw;
  }
}

/* Modal Section
--------------------------------*/

#membershipModal {
  padding: 60px 0 40px 0;
}

#membershipModal .content {
  padding: 10px 40px ;
  background: #f8fcff;
}

#membershipModal span {
  font-size: 15px;
}

#membershipModal .material-check {
  display: block;
  margin: 5px 0;
  position: relative;
  padding: 0 10px;
}

#membershipModal .material-radio {
  display: block;
  margin: 10px 0;
  position: relative;
}

#membershipModal .material-check label, 
#membershipModal .material-radio label {
  padding: 10px 15px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 200ms ease-in;
  overflow: hidden;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 10px 0 rgba(68, 88, 144, 0.1);
}

#membershipModal .material-check label:after, 
#membershipModal .material-radio label:after {
  width: 20px;
  height: 20px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  z-index: 2;
  float: right;
  transform: translateY(10%);
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: center;
}

#membershipModal .material-check label:after {
  border-radius: 15%;
}

#membershipModal .material-radio label:after {
  border-radius: 50%;
}

#membershipModal .material-check input, 
#membershipModal .material-radio input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

#membershipModal .material-check input:checked ~ label,
#membershipModal .material-radio input:checked ~ label {
  color: #fff;
  background-color: #44ce6f;
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#membershipModal .material-check input:checked ~ label:after,
#membershipModal .material-radio input:checked ~ label:after {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f5f8fd;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #413e66;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #535074;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1bb1dc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0a98c0;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
  color: #1bb1dc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .form .form-group {
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage {
  color: #fff;
  background: #1bb1dc;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #errormessage {
  color: #fff;
  display: none;
  background: red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage.show,
#footer .footer-top .form #errormessage.show,
#footer .footer-top .form .show {
  display: block;
}

#footer .footer-top .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#footer .footer-top .form label {
  color: #413e66;
  font-weight: 500;
}

#footer .footer-top .form input,
#footer .footer-top .form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #dce1ec;
  font-size: 14px;
}

#footer .footer-top .form input::-webkit-input-placeholder,
#footer .footer-top .form textarea::-webkit-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::-moz-placeholder,
#footer .footer-top .form textarea::-moz-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input:-ms-input-placeholder,
#footer .footer-top .form textarea:-ms-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::placeholder,
#footer .footer-top .form textarea::placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form button[type="submit"] {
  background: #1bb1dc;
  border: 0;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .form button[type="submit"]:hover {
  background: #0a98c0;
  cursor: pointer;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #535074;
  font-size: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 991px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  #intro .intro-info {
    padding-top: 80px;
  }
}

@media (max-width: 991px) {
  #topbar {
    display: none;
  }

  #header {
    height: 70px;
    padding: 15px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #main .container {
    padding: 30px;
  }

  #intro {
    height: auto;
    padding: 80px 0 60px 0;
  }

  #intro .container {
    height: auto !important;
  }

  #intro .intro-img {
    width: 60%;
  }

  #intro .intro-info {
    text-align: center;
    padding-top: 40px;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #membershipModal .content {
    padding: 25px ;
  }  
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}
